.services-page{
    padding-top: 180px;
    background-color: #F7F7F7;
    .services-page-h1{
        color: #04165D;
        font-weight: 600;
        margin-left: 40px;
        margin-bottom: 40px;
    }
}