.contact_section {
    padding: 50px 0;
    background-color: #000000;

    h1 {
        font-size: 48px;
        color: #fff;
        font-weight: 600;
    }

    p {
        color: #FFFFFFB8;
        font-size: 20px;
        max-width: 392px;
        margin-top: 20px;
    }

    .btn {
        background-color: #000000;
        z-index: 1;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        outline: 0;
        transition: color .5s;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        margin-top: 30px;
    }

    .MuiFormControl-root {
        margin-bottom: 20px !important;
    }

    .MuiSvgIcon-root,
    .MuiInputLabel-root {
        color: #FFFFFFB8 !important;
    }

    .MuiTypography-root {
        color: #FFFFFFB8 !important;
        font-size: 16px !important;
        max-width: 300px;
    }

    .css-1480iag-MuiInputBase-root-MuiInput-root:before {
        border-bottom-color: #FFFFFFB8 !important;
    }

    .css-1480iag-MuiInputBase-root-MuiInput-root:after {
        border-bottom-color: #f7e018 !important;
    }

    #input-with-icon-adornment {
        color: #FFFFFFB8 !important;
    }

    .MuiInputAdornment-root svg {
        color: #FFFFFFB8 !important;
    }
}


@media (max-width: 640px) {
    .contact_section {

        h1 {
            font-size: 36px;
        }

        p {
            font-size: 16px;
        }
    }
}