.portfolio_section_container{
    padding: 40px 30px;
    background-color: #F7F7F7;
    h1{
        color: #06146D;
    }
    .btn-portfolio{
        background-color: #E8E9ED;
        color: #06146D;
        font-size: 15px;
        font-weight: 700;
        padding: 10px 25px;
        margin-top: 20px;
        text-transform: uppercase;
        font-variant: small-caps;
    }
}