.main_section {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: #000000;
    background-color: #fff;
    padding: 220px 0 90px 0;
    overflow: hidden;

    .banner_text {
        font-size: 60px;
        line-height: 1.2;
        font-weight: 600;
        color: #000000;
        min-height: 234px;
        max-width: 910px;
        font-family: 'Montserrat', sans-serif;
    }

    .banner_description {
        max-width: 682px;
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: #000000;
    }

    .main_btn {
        margin-top: 35px;
    }
}

.btn {
    position: relative;
    padding: 15px 20px;
    // border: 3px solid #f7e018;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    .arrow-right {
        margin-left: 6px;
        font-weight: 900;
    }

    &:hover .arrow-right {
        position: relative;
        right: -10px;
    }
}

.btn-warning {
    transition: all 0.5s ease-in-out;
    background-color: #f7e018;

    &:hover {
        background: linear-gradient(90deg, rgba(47, 128, 237, 0.8) -2.41%, rgba(188, 58, 128, 0.8) 99.99%, rgba(255, 255, 0, 0) 100%);
        // background-color: #f7e018;
        border-image: linear-gradient(90deg, rgba(47, 128, 237, 0.8) -2.41%, rgba(188, 58, 128, 0.8) 99.99%, rgba(255, 255, 0, 0) 100%);
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 10px #f7e018;
    }
}

.btn-primary {
    margin-left: 15px;
    --tw-bg-opacity: 0.06;
    transition: all 0.5s ease-in-out;
    border: 3px solid #f7e018;
    background-color: #FFFFFF0F;

    &:hover {
        transition: all 0.5s ease-in-out;
        // border: 3px solid #f7e018;
        border-image: linear-gradient(90deg, rgba(47, 128, 237, 0.8) -2.41%, rgba(188, 58, 128, 0.8) 99.99%, rgba(255, 255, 0, 0) 100%);
        box-shadow: 0 0 10px #f7e018;
        // background-color: #f7e018;
        background: linear-gradient(90deg, rgba(47, 128, 237, 0.8) -2.41%, rgba(188, 58, 128, 0.8) 99.99%, rgba(255, 255, 0, 0) 100%);
        color: #000000;
    }
}

@media (max-width: 640px) {
    .main_section {
        padding-top: 180px;
        padding-bottom: 70px;

        .banner_text {
            font-size: 37px;
        }

        .banner_description {
            font-size: 1rem;
        }

        .main_btn {
            .btn {
                display: block;
            }

            .btn-primary {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
}