.portfolio{
    width: 100%;
    background-color: #F7F7F7;
    padding-top: 170px;
    .portfolio-title{
        display: none;   
    }
    .title{
        max-width: 100%;
        .col{
            h2{
                font-weight: 700;
                font-size: 48px;
                color: #04165D;
            }
            .client_calculate{
                padding-right: 30px;
                color: #9FA6C0;
                font-size: 14px;
                ul{
                    list-style: circle;
                }
            }
        }
    }
}